# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Crash Reports
sysinfo.txt

# ===================== #
# Visual Studio / Rider #
# ===================== #
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb

# ========= #
# OS / IDE  #
# ========= #
.DS_Store
*.apk
*.aab
*.xcworkspace
*.xcuserdatad
*.xcuserstate
.idea/
*.iml

# ==================== #
# Unity Cache / Assets #
# ==================== #
# Cache server
CacheServer/

# Package Manager
Library/PackageCache/*
Library/Bee/*
Library/com.unity.burst*
Library/Artifacts/*
Library/ScriptAssemblies/*
Library/ShaderCache/*
Library/ShaderCache/*

# Addressables
# Індексувати папку ServerData, тому не ігноруємо її
#/*.addressables_build/*

# ================= #
# Optional / Builds #
# ================= #
# Якщо ви хочете комітити власні збірки, розкоментуйте потрібні рядки
# /Build/
# /Builds/

# ==================== #
# Uncomment to ignore  #
# local Crash report   #
# ============         #
# CrashReport*.mdmp